/*ENCABEZADO*/
/*.imgLogin{
	width:100%;
	height: 100px;
}
.content-logo{
	height: 100px;
	display:inline-block;
}
.texto{
	display:inline-block;
	font-family: "Comic Sans MS";
	margin-left: 2%;
	font-size:	40px;
	font-weight: bold;
	color: #bf2501;
}
.content-img{
	overflow:hidden;
	height: 100px;
	background-color: white;
	border-bottom: 1px solid;
	text-align: center;
	box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 3%;
}*  YA SE APLICA EN EL GENERAL ACTUALIZAR EN OTRO MOMENTO/
