/* ESTILOS COMUNES */

/* ----- FUENTE ----- */

body {
    font-family:'Calibri';
    background-color: #d9e2f3;
}

/* ----- FORMULARIOS ----- */

div#divAltaMantenimientosPro {
    width:45%;
   
}
div#inicioProfesionales{
    margin-top:10vh;

}

form div.formItem {
    margin: 10px auto;
    text-align: center;
}

div.formItem input, 
div.formItem select, 
div.formItem textarea {
    display: block;
    margin: auto;
    min-height: 20px;
    width:100%;
    min-width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}

div.formItem input[type="file"] {
    border: 0;
    border-radius: 0;
    background-color: aliceblue;
}

form {
    width:25%;
    min-width: 398px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1em auto;
    padding: 10px;
    color: #014179;
    background-color: aliceblue;
}

label {
    text-align: left;
}



div.formItem input[type="checkbox"] {
    min-width: 20px;
    width: auto;
    display: inline-block;
    position: static;
}

@media (max-width:576px) {
    form {
        width: 82.8%;
        padding: 3.4%;
        min-width: 250px;
        font-size: 0.9em;
    }
}

div#divExito,
div#divError {
    display: none;
}

#loadingImg {
    display: none;
}

#loadingImg img {
    width: 32px;
    height: 32px;
}

/* ----- MENÚ DE NAVEGACIÓN -----*/


.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav div#bienvenida{
    color:white;
    margin-left:70%;
    width:30%;
}


/* Style the links inside the navigation bar */
.topnav li {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor:pointer;
}

/* Change the color of links on hover */
.topnav li:hover {
    background-color: #00a1a7;
}

/* Add an active class to highlight the current page */
.topnav li.active {
    background-color: #00adc4;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav li:not(:first-child) {display: none;}
    .topnav li.icon {
        float: right;
        display: block;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
}

/* HEADER DEL CENTRO*/
.imgLogin{
	width:100%;
	height: 100px;
}
.content-logo{
	height: 100px;
	display:inline-block;
}
.texto{
	display:inline-block;
	font-family: "Comic Sans MS";
	margin-left: 2%;
	font-size:	40px;
	font-weight: bold;
	color: #bf2501;
}
.content-img{
	overflow:hidden;
	height: 100px;
	background-color: white;
	border-bottom: 1px solid;
	text-align: center;
	box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
}


/*BOTON AÑADIR USUARIOS*/
.add-users-btn {
	grid-column: span 2;
	background-color: #4CAF50;
	color: white;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}
/*TABLAs*/
.divListados{
    width:50%;
    margin:auto;
}
#divListadosMantenimientosPro{
    
    width:50%;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin:auto;
}
tr.titulos td {
	background-color: #3D7AEF;
	text-align: center;
	color: white;
	border: 1px black solid;
	padding: 8px;
}
td {
	border: 1px black solid;
	padding: 8px;
	text-align: left;
	background-color: white;
	width: 20%;
}

td.buscar,
td.añadir {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	text-align: center;
	background-color: #d9e2f3;
}
.input-buscar{
	width: 100%;
}
/*IMAGENES*/
td img.iconos{
	width: 22px;
	height: 22px;
    margin:3px;
	cursor: pointer;
}
td.options{
    text-align: center;
}
/* Estilos para el contenedor principal de la ficha técnica */
.ficha-tecnica {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%; /* Ajusta el ancho según tus necesidades */
    margin: 20px auto; /* Centra la ficha técnica horizontalmente */
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Estilos para el título */
  .ficha-tecnica h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
    flex-basis: 100%;
  }
  
  /* Estilos para cada propiedad */
  .ficha-tecnica p {
    margin: 0;
    padding: 5px 0;
    font-size: 1em;
    color: #666;
    border-bottom: 1px solid #ccc;
    flex-basis: 50%; /* Establece el ancho deseado para cada columna */
    /* Otra opción sería usar width: 50%; */
    /* Puedes ajustar el espacio entre columnas con gap o margin */
    /* margin: 0 10px; */
    /* O */
    /* gap: 10px; */
  }


  /* Estilos para la tabla */
.table-mantenimiento {
    width:60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilos para las celdas de la tabla */
  .table-mantenimiento th,
  .table-mantenimiento td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilos para el encabezado de la tabla */
  .table-mantenimiento th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para las filas impares de la tabla */
  .table-mantenimiento tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  /* Estilos para el botón de opciones */
  .table-mantenimiento .opcion {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Estilos para el botón de opciones al pasar el ratón sobre él */
  .table-mantenimiento .opcion:hover {
    background-color: #0056b3;
  }
  .negrita{
    font-weight: bold;
}
  
  